body{
    background: #ffffff;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    }

li {
    display: inline;
    }

.logo {
    display:block;
    width: 272px;
    height:92px;
    padding: 109px;
    margin-left: auto;
    margin-right: auto;
}

.form-example {
    background-color: transparent;
    margin-top: -37px;
    margin-left: auto;
    margin-right: auto;
    width: 816px;
    height: 34px;
    display:flex;
}

input{
    margin: 0 auto;
    width: 606px;
}

div {
    margin: 0 auto;
}

.left{
    float: left;
    padding-left: 15px;
}
.right{
    float: right;
    padding-right: 15px;
}